.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  text-align: left;
  pointer-events: none;
  padding-right: 10px;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.App-link {
  color: rgb(112, 76, 182);
}

.Calculator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Lcd-body {
  align-items: center;
  justify-content: right;
  text-align: right;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(13px + 2vmin);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgb(200, 200, 200);
}

.Keypad {
  display: flex;
  align-items: center;
  justify-content:center;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
